In [50]:
import pandas as pd

In [51]:
movie_emotion=pd.read_csv('movie_emotion.csv',encoding='ANSI') # 직접 라벨링한 정답 데이터

In [52]:
movie_final=pd.read_csv('moive_final.csv',encoding='ANSI') # 표정으로 라벨링한 데이터

In [72]:
movie_emotion.head()

              name emotion1 emotion2  angry  happy  neutral  panic   sad
0             1987    panic      sad    0.0   0.00     0.00   0.66  0.34
1             2012      sad    panic    0.0   0.00     0.00   0.34  0.66
2          7번방의 선물    happy      sad    0.0   0.66     0.00   0.00  0.34
3         82년생 김지영  neutral    panic    0.0   0.34     0.00   0.66  0.00
4  가문의 위기(가문의 영광2)    happy  neutral    0.0   0.66     0.34   0.00  0.00

In [54]:
for i in list(movie_final['name']):
    if i not in list(movie_emotion['name']):
        print(i)

쥬라기 월드: 폴른 킹덤
캡틴 마블

In [73]:
movie_final.head()

,name,angry,happy,neutral,panic,sad,genre,synopsis,드라마,범죄,...,스릴러,코미디,멜로/로맨스,어드벤처,사극,판타지,공포(호러),전쟁,미스터리,전쟁
0,1987,0.219699,0.120940,0.128941,0.315657,0.214762,[' 드라마 '],"1987년 1월, 경찰 조사를 받던 스물두 살 대학생이 사망한다. 증거인멸을 위해 ...",1,0,...,0,0,0,0,0,0,0,0,0,0
1,82년생 김지영,0.045780,0.164418,0.292645,0.261133,0.236024,[' 드라마 '],"1982년 봄에 태어나 누군가의 딸이자 아내, 동료이자 엄마로 2019년 오늘을 살...",1,0,...,0,0,0,0,0,0,0,0,0,0
2,감시자들,0.084194,0.095480,0.135776,0.594588,0.089963,"[' 범죄', ' 액션 ']",범죄 대상에 대한 감시만을 전문적으로 담당하는 경찰 내 특수조직 감시반. 동물적인 ...,0,1,...,0,0,0,0,0,0,0,0,0,0
3,검사외전,0.076845,0.151786,0.213770,0.439780,0.117818,"[' 범죄', ' 코미디 ']","진실 앞에 무대뽀! 다혈질 검사, 살인 누명을 쓰고 감옥에 갇히다! 거친 수사 방식...",0,1,...,0,0,0,0,0,0,0,0,0,0
4,검은 사제들,0.197352,0.139076,0.208158,0.299844,0.155570,"[' 미스터리', ' 드라마 ']",쌍둥이 남매인 스티븐과 미셸은 6년 전에 아버지가 실종되면서 힘든 시간을 보낸다. ...,1,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
movie_final.iloc[:,:6]

             name     angry     happy   neutral     panic       sad
0            1987  0.219699  0.120940  0.128941  0.315657  0.214762
1        82년생 김지영  0.045780  0.164418  0.292645  0.261133  0.236024
2            감시자들  0.084194  0.095480  0.135776  0.594588  0.089963
3            검사외전  0.076845  0.151786  0.213770  0.439780  0.117818
4          검은 사제들  0.197352  0.139076  0.208158  0.299844  0.155570
..            ...       ...       ...       ...       ...       ...
100           판도라  0.083717  0.251949  0.130826  0.445707  0.087801
101         포화속으로  0.158588  0.199619  0.126165  0.482223  0.033404
102           해운대  0.066338  0.232479  0.182520  0.456194  0.062469
103  해적: 바다로 간 산적  0.414595  0.025582  0.209729  0.319576  0.030517
104          히말라야  0.195315  0.095535  0.043528  0.638642  0.026980

[105 rows x 6 columns]

In [74]:
df=movie_final.iloc[:,:6]

In [75]:
movie=df.T.rename(columns=df.T.iloc[0]).drop(df.T.index[0])

In [76]:
df['emotion1']=0
df['emotion2']=0

In [77]:
for i ,name in enumerate(movie):
    df['emotion1'][i]=movie[name].sort_values(ascending=False).index[0]
    df['emotion2'][i]=movie[name].sort_values(ascending=False).index[1]

C:\Users\pdj10\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pdj10\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\pdj10\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
df=df[['name','emotion1','emotion2']]

In [79]:
movie_emotion2=movie_emotion[['name','emotion1','emotion2']]

In [80]:
data=df.merge(movie_emotion2,on='name')

In [81]:
data

             name emotion1_x emotion2_x emotion1_y emotion2_y
0            1987      panic      angry      panic        sad
1        82년생 김지영    neutral      panic    neutral      panic
2            감시자들      panic    neutral      panic    neutral
3            검사외전      panic    neutral      panic    neutral
4          검은 사제들      panic    neutral      panic      angry
..            ...        ...        ...        ...        ...
98            판도라      panic      happy      panic        sad
99          포화속으로      panic      happy      panic      angry
100           해운대      panic      happy      panic        sad
101  해적: 바다로 간 산적      angry      panic      angry      panic
102          히말라야      panic      angry      panic      angry

[103 rows x 5 columns]

In [65]:
data[data['name']=='덕혜옹주']

    name emotion1_x emotion2_x emotion1_y emotion2_y
21  덕혜옹주      panic    neutral      panic    neutral

In [82]:
# 주된 감정을 맞춘경우 
score=0
for name,a,b in zip(data['name'],data['emotion1_x'], data['emotion1_y']):
    if a!=b:
        score+=1
print(score)

51

In [84]:
# 보조 감정을 맞춘경우
score2=0
for a,b in zip(data['emotion2_x'], data['emotion2_y']):
    if a==b:
        score2+=1
score2

27

In [85]:
# 주 감정과 보조감정 모두를 고려한 score
score=0
for x1,x2,y1,y2 in zip(data['emotion1_x'],data['emotion2_x'],data['emotion1_y'],data['emotion2_y'] ):
    if x1==y1:
        score+=0.8
    elif (x1==y2 and x2==y1) or (x1==y1 and x1==y1):
        score+=1
    elif (x2==y2):
        score+=0.2

In [86]:
score

49.599999999999966