In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import itertools

## 감정 정보만을 이용한 유사도 비교

In [256]:
df=pd.read_csv('final_groupby_movie.csv', encoding='utf-8')

In [257]:
len(df)

105

In [258]:
df=df.iloc[:, 1:]

In [259]:
df

         영화제목     angry     happy   neutral     panic       sad
0        1987  0.219699  0.120940  0.128941  0.315657  0.214762
1        감시자들  0.045780  0.164418  0.292645  0.261133  0.236024
2        검사외전  0.084194  0.095480  0.135776  0.594588  0.089963
3       검은사제들  0.076845  0.151786  0.213770  0.439780  0.117818
4          곡성  0.197352  0.139076  0.208158  0.299844  0.155570
..        ...       ...       ...       ...       ...       ...
100       판도라  0.083717  0.251949  0.130826  0.445707  0.087801
101     포화속으로  0.158588  0.199619  0.126165  0.482223  0.033404
102       해운대  0.066338  0.232479  0.182520  0.456194  0.062469
103  해적바다로간산적  0.414595  0.025582  0.209729  0.319576  0.030517
104      히말라야  0.195315  0.095535  0.043528  0.638642  0.026980

[105 rows x 6 columns]

In [260]:
movie_list=list(df['영화제목'])

In [261]:
features=df.iloc[:,1:].to_numpy()

In [262]:
comb_ls=list(itertools.combinations(movie_list,2))

In [263]:
len(comb_ls)

5460

In [264]:
movie_feat={name : features for name, features in zip(movie_list, features)}

In [265]:
all_similarity=[]
for name in comb_ls:
    similarity=cosine_similarity([movie_feat[name[0]]],[movie_feat[name[1]]])
    all_similarity.append([name[0], name[1], similarity])

In [267]:
emo_sim_df=pd.DataFrame(all_similarity, columns=['A','B', 'similarity'])
emo_sim_df.similarity=emo_sim_df.similarity.apply(lambda x:x[0][0])
emo_sim_df=emo_sim_df.sort_values('similarity', ascending=False)

In [276]:
emo_sim_df[:50]

               A            B  similarity
5435       택시운전사        포화속으로    0.999821
3344          반도          엑시트    0.999251
3330          반도      신과함께인과연    0.998722
2820        맨인블랙         캡틴마블    0.998519
1675        내부자들           써니    0.998416
2290           돈           타짜    0.998154
5027       완벽한타인    우리생애최고의순간    0.998109
2950      미녀는괴로워       웰컴투동막골    0.997887
4248     신과함께인과연          엑시트    0.997820
4587         아가씨         캡틴마블    0.997548
4843         엑시트          인셉션    0.997507
3282    박물관이살아있다          연가시    0.997265
997       국가부도의날           귀향    0.997201
2083         도둑들     분노의질주홉스쇼    0.997140
1893      더테러라이브            돈    0.997021
1740     82년생김지영          백두산    0.996931
600           공조        타짜신의손    0.996906
4444        신의한수         월드워z    0.996892
3908  분노의질주더익스트림         캡틴마블    0.996749
2018        덕혜옹주         암수살인    0.996695
2944      미녀는괴로워          완득이    0.996672
3132    미이라황제의무덤      신과함께인과연    0.996650
598           공조   킹스맨시크릿에이전트    0.996581
965         국가대표        완벽한타인    0.996520
3966    분노의질주홉스쇼        타짜신의손    0.996440
2849          명량        비긴어게인    0.996405
184         감시자들          의형제    0.996387
4244     신과함께인과연           암살    0.996308
4236     신과함께인과연      신비한동물사전    0.996282
3358          반도          인셉션    0.996112
4460        신의한수           타짜    0.996073
2338        라라랜드          악인전    0.996018
4339     신비한동물사전           암살    0.995921
4776     앤트맨과와스프           조커    0.995748
5122   우리생애최고의순간  캐리비안의해적망자의함    0.995659
4262     신과함께인과연          인셉션    0.995587
968         국가대표    우리생애최고의순간    0.995533
1106        국제시장          말아톤    0.995489
3786       부러진화살       인천상륙작전    0.995477
366        검은사제들           써니    0.995381
4015       비긴어게인          추격자    0.995294
3932    분노의질주홉스쇼          아가씨    0.995286
3949    분노의질주홉스쇼         월드워z    0.995281
1511         기생충          연가시    0.995269
269         검사외전           암살    0.995248
3586         베를린           써니    0.995226
2771        맨인블랙          베테랑    0.995213
3642         베테랑      신비한동물사전    0.995148
1024      국가부도의날          백두산    0.995066
5012         완득이  캐리비안의해적망자의함    0.994979

## 장르포함 유사도 비교

In [231]:
genre=pd.read_csv('moive_final.csv', encoding='utf-8')

In [232]:
genre.head(5)

,name,angry,happy,neutral,panic,sad,genre,synopsis,드라마,범죄,...,스릴러,코미디,멜로/로맨스,어드벤처,사극,판타지,공포(호러),전쟁,미스터리,전쟁
0,1987,0.219699,0.120940,0.128941,0.315657,0.214762,[' 드라마 '],"1987년 1월, 경찰 조사를 받던 스물두 살 대학생이 사망한다. 증거인멸을 위해 ...",1,0,...,0,0,0,0,0,0,0,0,0,0
1,82년생 김지영,0.045780,0.164418,0.292645,0.261133,0.236024,[' 드라마 '],"1982년 봄에 태어나 누군가의 딸이자 아내, 동료이자 엄마로 2019년 오늘을 살...",1,0,...,0,0,0,0,0,0,0,0,0,0
2,감시자들,0.084194,0.095480,0.135776,0.594588,0.089963,"[' 범죄', ' 액션 ']",범죄 대상에 대한 감시만을 전문적으로 담당하는 경찰 내 특수조직 감시반. 동물적인 ...,0,1,...,0,0,0,0,0,0,0,0,0,0
3,검사외전,0.076845,0.151786,0.213770,0.439780,0.117818,"[' 범죄', ' 코미디 ']","진실 앞에 무대뽀! 다혈질 검사, 살인 누명을 쓰고 감옥에 갇히다! 거친 수사 방식...",0,1,...,0,0,0,0,0,0,0,0,0,0
4,검은 사제들,0.197352,0.139076,0.208158,0.299844,0.155570,"[' 미스터리', ' 드라마 ']",쌍둥이 남매인 스티븐과 미셸은 6년 전에 아버지가 실종되면서 힘든 시간을 보낸다. ...,1,0,...,0,0,0,0,0,0,0,0,0,0

In [233]:
len(genre)

105

In [271]:
genre[genre['name']=='검사외전']

,name,angry,happy,neutral,panic,sad,genre,synopsis,드라마,범죄,...,스릴러,코미디,멜로/로맨스,어드벤처,사극,판타지,공포(호러),전쟁,미스터리,전쟁
3,검사외전,0.076845,0.151786,0.21377,0.43978,0.117818,"[' 범죄', ' 코미디 ']","진실 앞에 무대뽀! 다혈질 검사, 살인 누명을 쓰고 감옥에 갇히다! 거친 수사 방식...",0,1,...,0,0,0,0,0,0,0,0,0,0

In [272]:
genre[genre['name']=='인셉션']

,name,angry,happy,neutral,panic,sad,genre,synopsis,드라마,범죄,...,스릴러,코미디,멜로/로맨스,어드벤처,사극,판타지,공포(호러),전쟁,미스터리,전쟁
83,인셉션,0.060944,0.137383,0.145718,0.627558,0.028396,"[' 드라마', ' 미스터리 ']",타인의 꿈에 들어가 생각을 훔치는 특수 보안요원 코브.그를 이용해 라이벌 기업의 정...,0,0,...,0,0,0,0,0,0,0,0,1,0

In [235]:
movie_list=list(genre['name'])

In [236]:
features=genre.iloc[:,1:].to_numpy()

In [237]:
#이건 이제 모든 감정 다 포함(threshold 적용X)

In [238]:
n_features=[]
for i in features:
    temp=[]
    for j in range(len(i)):
        if j==5 or j==6:
            pass
        else:
            temp.append(i[j])
    n_features.append(np.array(temp))

In [274]:
n_features[0]

array([0.21969907, 0.12094038, 0.12894139, 0.31565741, 0.21476174,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [240]:
comb_ls=list(itertools.combinations(movie_list,2))
movie_feat={name : features for name, features in zip(movie_list, n_features)}

In [241]:
all_similarity=[]
for name in comb_ls:
    similarity=cosine_similarity([movie_feat[name[0]]],[movie_feat[name[1]]])
    all_similarity.append([name[0], name[1], similarity])

In [242]:
sim_df=pd.DataFrame(all_similarity, columns=['A','B', 'similarity'])
sim_df.similarity=sim_df.similarity.apply(lambda x:x[0][0])
sim_df=sim_df.sort_values('similarity', ascending=False)

In [243]:
set_name=genre.set_index('name')

In [244]:
sim_df[(sim_df['A']=='택시운전사') & (sim_df['B']=='포화속으로')]

          A      B  similarity
5435  택시운전사  포화속으로    0.181642

In [275]:
sim_df[:50]

                  A                   B  similarity
3466           범죄도시                 악인전    0.999181
4782       앤트맨과 와스프               캡틴 마블    0.999041
3340             반도                  암살    0.998913
3650            베테랑                  암살    0.998873
812     광해, 왕이 된 남자                남한산성    0.998799
1106        국가부도의 날                 말아톤    0.998748
4527             써니              완벽한 타인    0.998718
1264           국제시장                  타짜    0.998677
4998            완득이        우리 생애 최고의 순간    0.998493
1742           내부자들  범죄와의 전쟁: 나쁜놈들 전성시대    0.997925
3797         부러진 화살                  타짜    0.997680
707              관상         광해, 왕이 된 남자    0.997608
4235      신과함께-인과 연           신과함께-죄와 벌    0.997401
4504            쌍화점                  타짜    0.997190
4048             사도                  역린    0.997131
1265           국제시장             타짜-신의 손    0.997082
3319             반도                 베테랑    0.996972
5415             타짜             타짜-신의 손    0.996588
1446             귀향             타짜-신의 손    0.996435
2173             독전                 신세계    0.996402
2677            말아톤               택시운전사    0.996359
2598             마션               캡틴 마블    0.996355
5163       웰컴 투 동막골              인천상륙작전    0.996158
716              관상                남한산성    0.995920
2475          레미제라블              부러진 화살    0.995870
2889             명량              최종병기 활    0.995845
1229           국제시장                 쌍화점    0.995794
4379            신세계              신의 한 수    0.995624
2524          레미제라블                  타짜    0.995461
3853            부산행      킹스맨 : 시크릿 에이전트    0.995180
1174        국가부도의 날               택시운전사    0.995157
4156         수상한 그녀               왕의 남자    0.994913
3836            부산행                 용의자    0.994903
3574            베를린        분노의 질주: 홉스&쇼    0.994891
1091        국가부도의 날                  귀향    0.994816
162        82년생 김지영                 쌍화점    0.994703
3762         부러진 화살                 쌍화점    0.994407
4600            아저씨                  암살    0.994374
1304            군함도                 베테랑    0.994312
3460           범죄도시                 신세계    0.994298
5328  쥬라기 월드: 폴른 킹덤               캡틴 마블    0.994189
1447             귀향               택시운전사    0.994122
4777       앤트맨과 와스프       쥬라기 월드: 폴른 킹덤    0.994025
3338             반도                 아저씨    0.993675
5098            용의자      킹스맨 : 시크릿 에이전트    0.993576
5125   우리 생애 최고의 순간                  타짜    0.993500
1215           국제시장              부러진 화살    0.993494
2572             마션            앤트맨과 와스프    0.993352
1247           국제시장        우리 생애 최고의 순간    0.993200
1766           내부자들                암수살인    0.993031

## threshold 0.2 설정해서 해보기

In [90]:
th1_features=[]
for i in features:
    temp=[]
    for j in range(len(i)):
        if j==5 or j==6:
            pass
        else:
            if i[j]<0.2:
                temp.append(0)
            else:
                temp.append(i[j])
    th1_features.append(np.array(temp))

In [91]:
th1_features[1]

array([0.        , 0.        , 0.29264488, 0.26113319, 0.23602385,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [92]:
comb_ls=list(itertools.combinations(movie_list,2))
movie_feat={name : features for name, features in zip(movie_list, n_features)}

In [93]:
all_similarity=[]
for name in comb_ls:
    similarity=cosine_similarity([movie_feat[name[0]]],[movie_feat[name[1]]])
    all_similarity.append([name[0], name[1], similarity])

In [94]:
sim_df=pd.DataFrame(all_similarity, columns=['A','B', 'similarity'])
sim_df.similarity=sim_df.similarity.apply(lambda x:x[0][0])
sim_df=sim_df.sort_values('similarity', ascending=False)

In [96]:
sim_df[100:120]

            A             B  similarity
59       1987           쌍화점    0.986547
94       1987            타짜    0.986533
1150  국가부도의 날          연평해전    0.986416
5016      완득이       타짜-신의 손    0.986203
3187       밀정           베를린    0.986159
5081    왕의 남자          히말라야    0.986105
720        관상          덕혜옹주    0.985992
4986     연평해전       타짜-신의 손    0.985763
2656      말아톤         왕의 남자    0.985458
4968     연평해전  우리 생애 최고의 순간    0.985421
11       1987          국제시장    0.985124
1266     국제시장         택시운전사    0.984540
4987     연평해전         택시운전사    0.983956
1130  국가부도의 날        수상한 그녀    0.983530
2658      말아톤  우리 생애 최고의 순간    0.982847
5416       타짜         택시운전사    0.982749
4487      쌍화점  우리 생애 최고의 순간    0.982479
2156       독전          범죄도시    0.982429
1155  국가부도의 날  우리 생애 최고의 순간    0.982337
4985     연평해전            타짜    0.981965